<nav-component></nav-component>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/',id_cita]">Exámen Clinico</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/fisico/',id_cita]">Físico</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/laboratorio/',id_cita]">Laboratorio</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/procedimiento',id_cita]">Procedimientos</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/farmacia/',id_cita]">Farmacia</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/historial/',id_cita]">Historial</a></div>
	</div>  
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<br><br>
			<h2 class="text-center">EXAMEN FISICO</h2>
			<input type="text" #buscar_examen_fisico class="form-control is-valid" (KeyUp.enter)="buscarFisicoComponent(buscar_examen_fisico.value)"> <br>
			<table *ngIf="cargar_inicio == true" class="table">
			  <thead class="thead-dark">
			    <tr>
					<th scope="col">#</th>
					<th scope="col">Examen Fisico</th>
					<th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let fis of fisico; index as i">
			      <th scope="row">1</th>
			      <td>{{fis.descripcion}}</td>
			      <td><button *ngIf="eliminar_fisico == true" class="btn btn-danger btn-block" (click)="eliminarFisicoComponent(fis.id)">Eliminar</button></td>
			    </tr>
			  </tbody>
			</table>
					<div *ngIf="cargar_inicio == false">
						<div class="loader" id="loader">Loading...</div>
					</div>
					<div *ngIf="eliminar_fisico == false">
						<div class="loader" id="loader">Loading...</div>
					</div>
		</div>
		<div class="col-md-6">
			<br><br>
			<h2 class="text-center">DIAGNÓSTICO</h2>
			<input type="text" #buscar_diagnostico class="form-control is-valid" (KeyUp.enter)="buscarDiagnosticoComponent(buscar_diagnostico.value)"> <br>
			<table *ngIf="cargar_inicio == true" class="table">
			  <thead class="thead-dark">
			    <tr>
					<th scope="col">#</th>
					<th scope="col">Diagnóstico</th>
					<th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let diag of diagnostico; index as i">
			      <th scope="row">1</th>
			      <td>{{diag.descripcion}}</td>
			      <td><button *ngIf="eliminar_diagnostico == true" class="btn btn-danger btn-block" (click)="eliminarDiagnosticoComponent(diag.id)">Eliminar</button></td>
			    </tr>
			  </tbody>
			</table>
					<div *ngIf="cargar_inicio == false">
						<div class="loader" id="loader">Loading...</div>
					</div>
					<div *ngIf="eliminar_diagnostico == false">
						<div class="loader" id="loader">Loading...</div>
					</div>
		</div>
	</div>
</div>
<div class="modal fade" id="fisico_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<label>Exámen Físico</label>
      	<input type="text" class="form-control is-valid" [(ngModel)]="agregar_fisico_nuevo" (KeyUp.enter)="agregarFisicoNuevoController()"><br>
		<table *ngIf="cargar_fisico == true" class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Cantidad</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let lis_fis of lista_fisico; index as i">
		      <th scope="row">{{i+1}}</th>
		      <td>{{lis_fis.descripcion}}</td>
		      <td><button class="btn btn-success" (click)="agregarFisicoComponent(lis_fis.id_examen_fisico)">Agregar</button></td>
		    </tr>
		  </tbody>
		</table>
		<div *ngIf="cargar_fisico == false">
			<div class="loader" id="loader">Loading...</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="diagnostico_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
		<table *ngIf="cargar_diagnostico == true" class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Cantidad</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr >
		    <tr *ngFor="let diag of lista_diagnostico; index as i">
		      <th scope="row">{{i+1}}</th>
		      <td>{{diag.dec10}}</td>
		      <td><button class="btn btn-success" (click)="agregarDiagnosticoComponent(diag.id10)">Agregar</button></td>
		    </tr>
		  </tbody>
		</table>
		<div *ngIf="cargar_diagnostico == false">
			<div class="loader" id="loader">Loading...</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>