<nav-component></nav-component>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2"><a class="btn btn-info btn-block" style="margin-top: 5px" [routerLink]="['/consulta/',id_cita]">Exámen Clinico</a></div>
		<div class="col-md-2"><a class="btn btn-primary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/fisico/',id_cita]">Físico</a></div>
		<div class="col-md-2"><a class="btn btn-success btn-block" style="margin-top: 5px" [routerLink]="['/consulta/laboratorio/',id_cita]">Laboratorio</a></div>
		<div class="col-md-2"><a class="btn btn-danger btn-block" style="margin-top: 5px" [routerLink]="['/consulta/procedimiento',id_cita]">Procedimientos</a></div>
		<div class="col-md-2"><a class="btn btn-warning btn-block" style="margin-top: 5px" [routerLink]="['/consulta/farmacia/',id_cita]">Farmacia</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/historial/',id_cita]">Historial</a></div>
	</div>  
</div>