<nav-component></nav-component>
<br>
<div class="container">
	<div class="row">
			<div class="col-md-12"><h1 class="h3 mb-3 font-weight-normal text-center" style="color: red">Atender</h1></div>
			<div class="col-md-1"></div>
			<div class="col-md-2"><a class="btn btn-info btn-block" style="margin-top: 5px" [routerLink]="['/consulta/']">Exámen Clinico</a></div>
			<div class="col-md-2"><a class="btn btn-success btn-block" style="margin-top: 5px" [routerLink]="['/consulta/laboratorio/']">Laboratorio</a></div>
			<div class="col-md-2"><a class="btn btn-danger btn-block" style="margin-top: 5px" [routerLink]="['/consulta/procedimiento']">Procedimientos</a></div>
			<div class="col-md-2"><a class="btn btn-warning btn-block" style="margin-top: 5px" [routerLink]="['/consulta/farmacia/']">Farmacia</a></div>
			<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/historial/']">Historial</a></div>	
			<div class="col-md-1"></div>      
	</div>
</div>