<nav-component></nav-component>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/',id_cita]">Exámen Clinico</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/fisico/',id_cita]">Físico</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/laboratorio/',id_cita]">Laboratorio</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/procedimiento',id_cita]">Procedimientos</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/farmacia/',id_cita]">Farmacia</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/historial/',id_cita]">Historial</a></div>
	</div>  
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<br><br>
			<h2 class="text-center">ANTECEDENTES</h2>
			<textarea [(ngModel)]="agregar_ante"  class="form-control is-valid" (KeyUp.enter)="agregarAntecedentesController(agregar_ante)" cols="20" rows="3"></textarea><br>
			<table *ngIf="cargar_inicio == true" class="table">
			  <thead class="thead-dark">
			    <tr>
					<th scope="col">#</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pro of antecedentes; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td><textarea cols="30" rows="3" class="form-control" #pro_ante (KeyUp.enter)="actualizarAntecedentesController(pro.id_cita_examen_clinico_antecedentes,pro_ante.value)">{{pro.descripcion}}</textarea></td> 
			      <td><button *ngIf="eliminar_antecedentes == true" class="btn btn-danger btn-block" (click)="eliminarAnteController(pro.id_cita_examen_clinico_antecedentes)">Eliminar</button></td>
			    </tr>
			  </tbody>
			</table>
					<div *ngIf="eliminar_antecedentes == false">
						<div class="loader" id="loader">Loading...</div>
					</div>
					<div *ngIf="cargar_inicio == false">
						<div class="loader" id="loader">Loading...</div>
					</div>
		</div>
		<div class="col-md-6">
			<br><br>
			<h2 class="text-center">ANAMNESIS</h2>
			<textarea [(ngModel)]="agregar_ana" class="form-control is-valid" (KeyUp.enter)="agregarAnamnesisController(agregar_ana)" cols="20" rows="3"></textarea><br>
			<table *ngIf="cargar_inicio == true" class="table">
			  <thead class="thead-dark">
			    <tr>
					<th scope="col">#</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let ciru of anamnesis; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td><textarea cols="30" rows="3" class="form-control" #ciru_anam (KeyUp.enter)="actualizarAnamnesisController(ciru.id_cita_examen_clinico_anamnesis,ciru_anam.value)">{{ciru.descripcion}}</textarea></td>
			      <td><button *ngIf="eliminar_anam == true" class="btn btn-danger btn-block" (click)="eliminarAnamController(ciru.id_cita_examen_clinico_anamnesis)">Eliminar</button></td>
			    </tr>
			  </tbody>
			</table>
					<div *ngIf="eliminar_anam == false">
						<div class="loader" id="loader">Loading...</div>
					</div>
					<div *ngIf="cargar_inicio == false">
						<div class="loader" id="loader">Loading...</div>
					</div>
		</div>
	</div>
</div>