<nav-component></nav-component>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" *ngIf="inicio == true">
			<form class="form-inline">
				<div class="form-group mx-sm-3 mb-2">
		    		<input type="date" class="form-control" #fecha>
		  		</div>
		  		<button class="btn btn-success" (click)="obtenerCitasFecha(fecha.value)">Buscar</button>
		  	</form>

			<h1 class="h3 mb-3 font-weight-normal text-center" style="color: red">BIENVENIDOS A CONSULTAS</h1>	
			<table class="table">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Peso</th>
			      <th scope="col">Talla</th>
			      <th scope="col">Temperatura</th>
			      <th scope="col">FR</th>
			      <th scope="col">FC</th>
			      <th scope="col">Descripción</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let aten of atencion; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td [routerLink]="['/consulta',aten.id_cita]">{{aten.nombre_atendido}}</td>
			      <td>{{aten.peso}}</td>
			      <td>{{aten.talla}}</td>
			      <td>{{aten.temperatura}}</td>
			      <td>{{aten.fr}}</td>
			      <td>{{aten.fc}}</td>
			      <td>{{aten.porque_cita}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="col-md-12" *ngIf="inicio == false">
			<div class="loader" id="loader">Loading...</div>
		</div>
	</div>
</div>