<nav-component></nav-component>
<br>
<div class="container">
	<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2"><a class="btn btn-info btn-block" style="margin-top: 5px" [routerLink]="['/consulta/',id_cita]">Exámen Clinico</a></div>
			<div class="col-md-2"><a class="btn btn-success btn-block" style="margin-top: 5px" [routerLink]="['/consulta/laboratorio/',id_cita]">Laboratorio</a></div>
			<div class="col-md-2"><a class="btn btn-danger btn-block" style="margin-top: 5px" [routerLink]="['/consulta/procedimiento',id_cita]">Procedimientos</a></div>
			<div class="col-md-2"><a class="btn btn-warning btn-block" style="margin-top: 5px" [routerLink]="['/consulta/farmacia/',id_cita]">Farmacia</a></div>
			<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/historial/',id_cita]">Historial</a></div>	
			<div class="col-md-1"></div>      
	</div>
	<div class="row">
		<div class="col-md-12"><br></div>
		<div class="col-md-12">
			<input type="text" class="form-control" #buscar_nombre_farmacia (keyUp.enter)="buscarProductoAgregar(buscar_nombre_farmacia.value)">
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="farmacia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button (click)="cerrarModalProducto()" class="btn btn-secondary" >Close</button>
      </div>
    </div>
  </div>
</div>