<nav-component></nav-component>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/',id_cita]">Exámen Clinico</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/fisico/',id_cita]">Físico</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/laboratorio/',id_cita]">Laboratorio</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/procedimiento',id_cita]">Procedimientos</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/farmacia/',id_cita]">Farmacia</a></div>
		<div class="col-md-2"><a class="btn btn-secondary btn-block" style="margin-top: 5px" [routerLink]="['/consulta/historial/',id_cita]">Historial</a></div>
	</div> 
	<div class="row">
		<div class="col-md-12"><br></div>
		<div class="col-md-12">
			<h2 class="text-center">Buscar Producto</h2>
			<input type="text" class="form-control" #buscar_nombre_farmacia (keyUp.enter)="buscarProductoAgregar(buscar_nombre_farmacia.value)">
		</div>
		<div class="col-md-12"><br></div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
			  <thead *ngIf="cargar_inicio == true" class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Productos</th>
			      <th scope="col">Cantidad</th>
			      <th scope="col">Vía</th>
			      <th scope="col">Días</th>
			      <th scope="col">Cada (HRS)</th>
			      <th scope="col">INDICACIÓN ESPECÍFICA</th>
			      <th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let profa of producto_farmacia; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{profa.nombre}}</td>
			      <td>{{profa.cantidad}}</td>
			      <td><textarea class="form-control" cols="30" rows="2" #pf_via>{{profa.via}}</textarea></td>
			      <td><textarea class="form-control" cols="30" rows="2" #pf_dia>{{profa.dia}}</textarea></td>
			      <td><textarea class="form-control" cols="30" rows="2" #pf_hora>{{profa.hora}}</textarea></td>
			      <td><textarea class="form-control" cols="30" rows="2" #pf_indicacion (keyup.enter)="actualizarProductoFarm(profa.id,pf_via.value,pf_dia.value,pf_hora.value,pf_indicacion.value)">{{profa.indicaciones}}</textarea></td>
			      <td><button *ngIf="eliminar_far == true" class="btn btn-danger" (click)="eliminarProdFar(profa.id)">Eliminar</button></td>
			    </tr>
			  </tbody>
			</table>
					<div *ngIf="cargar_inicio == false">
						<div class="spinner-grow text-primary" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-secondary" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-success" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-danger" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-warning" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-info" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-light" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-dark" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
					</div>
					<div *ngIf="eliminar_far == false">
						<div class="spinner-grow text-primary" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-secondary" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-success" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-danger" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-warning" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-info" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-light" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-dark" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
					</div>
		</div>
	</div>
</div>
<div class="modal fade" id="farmacia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
			<table *ngIf="agregar_far == true" class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Productos</th>
			      <th scope="col">Cantidad</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let promo of producto_modal; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{promo.nombre}}</td>
			      <td><input type="text" class="form-control" placeholder="Agregar Cantidad" #agregarCantidadPro (keyUp.enter)="agergarCantidadFarmacia(promo.id,agregarCantidadPro.value)"></td>
			    </tr>
			  </tbody>
			</table>
					<div *ngIf="agregar_far == false">
						<div class="spinner-grow text-primary" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-secondary" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-success" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-danger" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-warning" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-info" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-light" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div class="spinner-grow text-dark" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
					</div>
      </div>
      <div class="modal-footer">
        <button (click)="cerrarModalProducto()" class="btn btn-secondary" >Cerrar</button>
      </div>
    </div>
  </div>
</div>